:root {
  --scale-factor: 1;
}

@media (max-width: 600px) {
  :root {
    --scale-factor: 0.7; /* Smaller scale for mobile devices */
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  :root {
    --scale-factor: 0.9; /* Default scale for tablets */
  }
}

@media (min-width: 1201px) {
  :root {
    --scale-factor: 1; /* Larger scale for desktops */
  }
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8e6e3;
  background-color: #181a1b;
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#bart,
#outofthe,
#box {
  text-transform: uppercase;
  font-family: "Atkinson Hyperlegible Next", serif;
}

#bart {
  font-size: calc(180px * var(--scale-factor));
  line-height: calc(120px * var(--scale-factor));
}

#outofthe {
  font-size: calc(74px * var(--scale-factor));
  line-height: calc(80px * var(--scale-factor));
}

#box {
  font-size: calc(228px * var(--scale-factor));
  line-height: calc(153px * var(--scale-factor));
}
